<div class="footer_container container d-flex justify-content-center flex-column text-center align-items-center">
    <div class="footer_frase"><h4>Transformando linhas de código em soluções que moldam o amanhã.</h4></div>
    <div class="footer_icons d-flex flex-sm-row">
        <a href="https://www.linkedin.com/in/ricardo-bettarelli/" target="_blank">
            <img src="assets/img/linkedin.svg" alt="Linkedin" class="icons" />
        </a>
        <a href="https://github.com/rbettarelli" target="_blank">
            <img src="assets/img/github-light.svg" alt="Github" class="icons" />
        </a>
    </div>
    <div class="footer_text d-flex flex-column">
        <p> Copyright © {{year}}</p>
        <p>Desenvolvido por Ricardo Bettarelli</p>
    </div>
    

</div>