<div class="container-sm about-box d-flex justify-content-center align-items-center" id="about" style="scroll-margin-top: 100px;">
    <div class="about-box__content">
        <h3>Sobre</h3>
        <p>Olá, sou o Ricardo, um entusiasta da tecnologia apaixonado por música, animais e tecnologia de desenvolvimento Full Stack. Com uma jornada de aproximadamente 1 ano e meio aprimorando habilidades em diferentes áreas, desde o Frontend até a infraestrutura de sistemas, busco integrar uma equipe de desenvolvimento onde possa aplicar minhas competências técnicas de forma abrangente.
            <br>   <br>
            Durante minha jornada, concentrei-me em aprimorar minhas habilidades em HTML, CSS, JavaScript e no framework Angular no lado do Frontend, enquanto também explorei o desenvolvimento de APIs, bancos de dados e gerenciamento de servidores no lado do Backend. Estou sempre em busca de novos desafios que me permitam aprender, evoluir e contribuir para projetos significativos.
            <br>   <br>
            Meu objetivo é criar soluções eficientes e acessíveis, desenvolvendo interfaces intuitivas e experiências de usuário envolventes. Acredito na importância de aplicar boas práticas de design e acessibilidade para garantir que nossas soluções atendam às necessidades de todos os usuários.
            <br>   <br>
            Estou empolgado com a oportunidade de trabalhar em projetos inovadores, onde posso colaborar com uma equipe talentosa para criar produtos que impactem positivamente a vida das pessoas.</p>
    </div>
    
</div>
