<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-sm">
      <div class="logo-area">
        <img src="assets/img/logo.png" class="logo" alt="logo">
        <p> &lt;  Rbettarelli  /&gt;</p>
        
      </div>
      <button class="navbar-toggler bg-light" type="button" (click)="toggleNavbar()" #navbarToggler aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projetos</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contato</a>
          </li>
        </ul>
      </div>
    </div> 
  </nav>