<div class="skill-container container-sm d-flex-row justify-content-center align-items-center" id="skills" style="scroll-margin-top: 100px;">
    <h1>Skills</h1>
    <div class="container-fluid container-sm d-flex flex-column flex-md-row justify-content-center align-items-center skill-box">
        
        <app-skill-box title="Backend" [skills]="backendSkills"></app-skill-box>
        <app-skill-box title="Frontend" [skills]="frontSkills"></app-skill-box>
        <app-skill-box title="Frameworks" [skills]="frameworks"></app-skill-box>
        <app-skill-box title="Diversos" [skills]="others"></app-skill-box>
        
    </div>
    
</div>

